/*my css*/
* {
    box-sizing: border-box;
  }
body{
    min-height: 100vh;
    margin: 0;
    padding: 0;
    color: #424242;
    font-size: 18px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.header{
    background-color: #4D4D4D;
}
/*
.main{
    
}*/
.container{
    max-width: 1440px;
    margin: 0 auto;
}
.nav-list{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    padding: 0 20px;
    line-height: 50px;
}
.nav-item a{
    text-decoration: none;  
    transition: color 0.5s;
}
.nav-item a:hover{
    color: #7f7f7f;
}
.nav-link{
    position: relative;
    font-size: 20px;
    font-weight: 300;
    text-decoration: none;
    padding: 0 5px;
    color: white;
    text-transform: capitalize;
    transition: 0.3s;
}
.main-container{
    display: flex;
    flex-wrap: wrap;
}
.section{
    width: 50%;
}
.profile-section{
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 50px 0 50px 0;
    border-bottom: 15px solid #8b8b8b;
}
.my-logo{
    width: 215x;
    height: 160px;
    object-fit: cover;
    border-radius: 260px;
}
.profile-section-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.first-section-title{
    color: #4D4D4D;
    font-size: 32px;
    font-weight: 300;
}
.section-title{
    color: #424242;
    font-size: 25px;
    font-weight: 300;
    text-transform: capitalize;
}
.footer{
    background-color: #4D4D4D;
}
.footer-logo{
    width: 100px;
    height: 100px;
}

/*media*/
@media (max-width: 768px) {
    .section {
      width: 100%;
    }
  }